@using CBP.WebApp.MVC.Models
@model IEnumerable<ResponsavelViewModel>
@{
    ViewData["Title"] = "Todos os patrimônios";
}

<section>
    <div class="container" style=" padding-top: 90px">
        <vc:Summary></vc:Summary>
        <div class="row">
            <div class="col-md-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-end">
                        <li class="breadcrumb-item"><a asp-controller="Patrimonio" asp-action="Index">Inicio</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Usuario</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row border border-info">
            <div class="col-md-4 border-info">
                <h6>Nome Completo</h6>
            </div>
            <div class="col-md-4 border-left border-info">
                <h6>Email</h6>
            </div>
            <div class="col-md-2 border-left border-info">
                <h6>Função</h6>
            </div>
            <div class="col-md-2 border-left border-info">
                <h6>Comandos</h6>
            </div>
        </div>
        @{
            foreach (var item in Model.OrderBy(p => p.Nome))
            {
                <div class="row border-left border-bottom border-info">
                    <div class="col-md-4">
                        @item.Nome
                    </div>
                    <div class="col-md-4 border-left border-info">
                        @item.Email
                    </div>
                    <div class="col-md-2 border-left border-info">
                        @item.Funcao
                    </div>
                    <div class="col-md-2 border-left border-right border-info">

                        <a class="btn btn-info" asp-route-id="@item.Id" asp-controller="responsavel" asp-action="Detalhe">
                            Detalhe
                        </a>
                        @*<button type="button" class="btn btn-info" data-toggle="modal" data-target="#editarUsuarioModal" data-Id="@item.Id"
                                asp-controller="Usuario" asp-action="Editar">
                            Editar
                        </button>*@
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#excluirResponsavelModal" data-Id="@item.Id">Excluir</button>
                        @*<a asp-controller="Usuario" asp-action="Excluir" asp-route-id="@item.Id">Excluir</a>*@
                    </div>
                </div>
            }
        }
    </div>

</section>

@section Scripts {

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            BuscaCep();
        });
    </script>

}