@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser>
@{
    ViewData["Title"] = "Todos os patrimônios";
}

<section>
    <div class="container" style=" padding-top: 90px">
        <vc:Summary></vc:Summary>
        <div class="row">
            <div class="col-md-10">
                <a href="javascript:void(0)" class="btn btn-primary float-md-left" data-toggle="modal" data-target="#novoUsuarioModal">
                    <i class="fa fa-location-arrow"></i> Novo Usuário
                </a>
            </div>
            <div class="col-md-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-end">
                        <li class="breadcrumb-item"><a asp-controller="Patrimonio" asp-action="Index">Inicio</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Usuario</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row border border-info">
            <div class="col-md-4 border-info">
                <h6>Id</h6>
            </div>
            <div class="col-md-8 border-left border-info">
                <h6>Email</h6>
            </div>
        </div>
        @{
            if (Model.Any())
            {

                foreach (var item in Model.OrderBy(p => p.UserName))
                {
                    <div class="row border-left border-bottom border-info">
                                <div class="col-md-4">
                                    @if (!item.LockoutEnabled)
                                    {
                                        <span style="text-decoration-line:line-through">@item.Id</span>
                                    }
                                    else
                                    {
                                        <span>@item.Id</span>
                                    }
                                </div>
                                <div class="col-md-4 border-left border-right border-info">
                                    @if (!item.LockoutEnabled)
                                    {
                                        <span style="text-decoration-line:line-through">@item.Email</span>
                                    }
                                    else
                                    {
                                        <span>@item.Email</span>
                                    }
                                </div>
                        <div class="col-md-4 border-right border-info">
                            <form method="post" asp-action="ExcluiUsuario" asp-route-id="@item.Id">

                                <a class="btn btn-info" asp-route-id="@item.Id" asp-controller="Usuario" asp-action="Detalhe">
                                    Detalhe
                                </a>

                                <span id="confirmaDeleteSpan_@item.Id" style="display:none">
                                    <span>Excluir este usuário ?</span>
                                    <button type="submit" class="btn btn-danger">Sim</button>
                                    <a href="#" class="btn btn-primary" onclick="confirmaDelete('@item.Id',false)">Não</a>
                                </span>

                                <span id="deleteSpan_@item.Id">
                                    <a href="#" class="btn btn-danger" onclick="confirmaDelete('@item.Id',true)">Excluir</a>
                                </span>
                            </form>

                        </div>
                    </div>
                }
            }
            else
            {
                <div class="row border-left border-bottom border-info">
                    <div class="col-md-4">
                        Sem usuários registrados
                    </div>
                </div>
            }
        }
    </div>

</section>

<partial name="_NovoUsuario" model="new UsuarioRegistro()" />

@section Scripts {

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function confirmaDelete(uniqueId, isDeleteClicked) {
            var deleteSpan = 'deleteSpan_' + uniqueId;
            var confirmaDeleteSpan = 'confirmaDeleteSpan_' + uniqueId;

            if (isDeleteClicked) {
                $('#' + deleteSpan).hide();
                $('#' + confirmaDeleteSpan).show();
            } else {
                $('#' + deleteSpan).show();
                $('#' + confirmaDeleteSpan).hide();
            }
        }
    </script>
}