@using CBP.WebApp.MVC.Extensions
@model IEnumerable<CBP.WebApp.MVC.Models.PatrimonioViewModel>

@{
    ViewData["Title"] = "Todos os patrimônios";
}

<section>
    <div>
        <div class="container" style=" padding-top: 90px">
            <vc:Summary></vc:Summary>
            <div class="row">
                @{
                    foreach (var patrimonio in Model.OrderBy(p => p.Descricao))
                    {
                        <div class="col-md-3">
                            <div href="#" class="card card-product-grid">
                                <a asp-controller="Patrimonio" asp-action="PatrimonioDetalhe" asp-route-id="@patrimonio.Id" class="img-wrap">
                                    <img src="~/images/produtos/caneca1.jpg" alt="caneca1">
                                </a>
                                <figcaption class="info-wrap">
                                    <a asp-controller="Patrimonio" asp-action="PatrimonioDetalhe" asp-route-id="@patrimonio.Id" class="title">
                                        <b> @patrimonio.Descricao</b>
                                    </a>

                                    <small class="card-text">
                                        @this.MensagemEstoque(patrimonio.QuantidadeEstoque)<br /><br />
                                        @patrimonio.Descricao
                                    </small>
                                </figcaption>
                                <div class="card-footer price mt-1">
                                    <h3>@this.FormatoMoeda(patrimonio.ValorBem)</h3>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>